 .u-section-1 {
  min-height: 1634px;
}

.u-section-1 .u-shape-1 {
  height: 314px;
  margin: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: -254px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 35px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 553px;
  grid-auto-columns: calc(25% - 22.5px);
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 12px calc(((100% - 1140px) / 2)  + 329px) 0 calc(((100% - 1140px) / 2)  + 359px);
}

.u-section-1 .u-list-2 {
  width: 1168px;
  margin: 82px auto 60px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 545px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 16px 30px;
}

.u-section-1 .u-icon-17 {
  height: 90px;
  width: 90px;
  background-image: none;
  margin: 0 443px 0 14px;
  padding: 18px;
}

.u-section-1 .u-text-15 {
  font-weight: 600;
  margin: -70px 159px 0 124px;
}

.u-section-1 .u-text-16 {
  margin: 20px 14px 0 124px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 16px 30px;
}

.u-section-1 .u-icon-18 {
  height: 90px;
  width: 90px;
  background-image: none;
  margin: 0 443px 0 14px;
  padding: 18px;
}

.u-section-1 .u-text-17 {
  font-weight: 600;
  margin: -70px 159px 0 124px;
}

.u-section-1 .u-text-18 {
  margin: 20px 14px 0 124px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 16px 30px;
}

.u-section-1 .u-icon-19 {
  height: 90px;
  width: 90px;
  background-image: none;
  margin: 0 443px 0 14px;
  padding: 18px;
}

.u-section-1 .u-text-19 {
  font-weight: 600;
  margin: -70px 159px 0 124px;
}

.u-section-1 .u-text-20 {
  margin: 20px 14px 0 124px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 16px 30px;
}

.u-section-1 .u-icon-20 {
  height: 90px;
  width: 90px;
  background-image: none;
  margin: 0 443px 0 14px;
  padding: 18px;
}

.u-section-1 .u-text-21 {
  font-weight: 600;
  margin: -70px 159px 0 124px;
}

.u-section-1 .u-text-22 {
  margin: 20px 14px 0 124px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 16px 30px;
}

.u-section-1 .u-icon-21 {
  height: 90px;
  width: 90px;
  background-image: none;
  margin: 0 443px 0 14px;
  padding: 18px;
}

.u-section-1 .u-text-23 {
  font-weight: 600;
  margin: -70px 159px 0 124px;
}

.u-section-1 .u-text-24 {
  margin: 20px 14px 0 124px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + 229px);
    margin-left: calc(((100% - 940px) / 2) + 259px);
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 442px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 354px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 354px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-19 {
    margin-right: 354px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 354px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-21 {
    margin-right: 354px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1485px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 119px);
    margin-left: calc(((100% - 720px) / 2) + 149px);
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-19 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-21 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + 29px);
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 202px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 202px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-19 {
    margin-right: 202px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 202px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-21 {
    margin-right: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 124px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 124px;
  }

  .u-section-1 .u-icon-19 {
    margin-right: 124px;
  }

  .u-section-1 .u-icon-20 {
    margin-right: 124px;
  }

  .u-section-1 .u-icon-21 {
    margin-right: 124px;
  }
}